[Unit]
Description=TS Modbus TCP Server
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/bin/bash /home/tom/SunnyBeamTS/runTcpServer.sh

[Install]
WantedBy=multi-user.target
